.row .col-sm{
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin: 5px 5px 5px 5px;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
.container-fluid {
    border: 1px solid;
}
.data-container-title {
    text-align: justify;
}
.box {
    padding: 0 5px 0 5px;
}
.data-img {
    width: 100%;
    height: auto;
}
